:root {
  /* ... Add more customizations as needed */
}

$primary: #8064a2; /* Set your primary color */
$secondary: #939ca3; /* Set your secondary color */
$success: #f7f5f9; /* Set your success color */
$info: #f7fdff; /* Set your info color */
$warning: #ccc1da; /* Set your warning color */
$danger: #0096c8; /* Set your danger color */

$font-sizes: (
  7: 0.5rem,
  6: 0.625rem,
  5: 0.75rem,
  4: 0.875rem,
  3: 1rem,
  2: 1.125rem,
  1: 1.25rem,
  lg: 1.375rem,
  xl: 1.5rem,
  // Add or modify font sizes as needed,
);

* {
  font-family: "Poppins";
}

.custom-input:-ms-input-placeholder {
  color: #939ca3; /* IE 11 */
}

.custom-input::placeholder {
  color: #939ca3; /* Other modern browsers */
}

.custom-input {
  color: #939ca3;
  border-radius: 0;
}

.custom-input:focus {
  outline: none;
}

.custom-btn:hover {
  color: white;
  background-color: #8064a2;
  border-color: #8064a2;
}

.nav-bar {
  height: 76px;
}

.main {
  height: 678px;
}

.pg2 {
  height: calc(100dvh - 76px);
  background-color: #f8f9fa;
}

.large-form {
  height: 578px;
  width: 434px;
}

.option-description {
  font-size: 18px;
}

.option-title {
  font-size: 24px;
}

.hobby-btn {
  font-size: 20px;
}

.footer .links {
  font-size: 18px;
}

.footer .ltd {
  font-size: 8px;
}

.pg2 .pg2-card:hover {
  cursor: pointer;
  color: white;
}

.pg2 .card-purple {
  border: 2px solid #8064a2;
}

.pg2 .card-purple:hover {
  background-color: #8064a2;
}

.card-green {
  border: 2px solid #77933c;
}

.card-green:hover {
  background-color: #77933c;
}

.card-red {
  border: 2px solid #c0504d;
}

.card-red:hover {
  background-color: #c0504d;
}

.card-blue {
  border: 2px solid #0096c8;
}

.card-blue:hover {
  background-color: #0096c8;
}

.scroll-top {
  color: #8064a2;
  background-color: white;
}

.scroll-top:hover {
  background-color: #8064a2;
  color: white;
}

@media (max-width: 1200px) {
  .nav-bar {
    height: 48px; /* Adjust the height for medium screens */
  }
  .main {
    height: calc(100dvh - 48px);
  }
  .hobby-btn {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .option-description {
    font-size: 12px;
  }
  .option-title {
    font-size: 18px;
  }
  .option-btn {
    width: 100%;
    height: 32px;
    font-size: 12px;
  }
  .hobby-btn {
    font-size: 14px;
  }
  .footer .links {
    font-size: 9px;
    color: #939ca3;
  }
  .footer .ltd {
    font-size: 12px;
  }
}
@import "bootstrap/scss/bootstrap";
